@model W24_TP_Forum_2210075.Models.Message

@{
    ViewData["Title"] = "Edit Message";
}

<div class="justify-content-center d-flex">
    <div class="container" style="width:1000px">
        <div class="d-flex justify-content-between">
            <div>
                <h1 class="mt-5">@ViewData["Title"]</h1>
            </div>
            <div>
                <a asp-controller="Messages" asp-action="Index" asp-route-cid="@ViewData["CatId"]" asp-route-sid="@ViewData["sid"]" class="btn btn-primary mt-5">Back to Messages</a>
            </div>
        </div>
        <hr />
        <div class="mt-4">
            <form asp-action="Edit" asp-route-id="@Model.MsgId">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input hidden asp-for="MsgId" />

                <input hidden asp-for="SujetId" />

                <input hidden asp-for="UserId" />

                <input hidden asp-for="MsgActif" />

                <div class="form-group mb-3">
                    <textarea asp-for="MsgTexte" class="form-control input msg-textarea"></textarea>
                    <span asp-validation-for="MsgTexte" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
